<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="filter.properties"/>
    <bean id="provider" name="providerName" class="com.tw.test.UserAccount">

        <property name="password" value="${password}"></property>
        <property name="username" value="${username}"></property>
    </bean>

    <bean id="client" name="clientComputer" class="com.tw.test.Client">

        <constructor-arg index="0" type="java.lang.String" value="1">
        </constructor-arg>
    </bean>

</beans>